.btn-container {
  width: 50px;
  height: 25px;
  position: relative;
  display: inline-block;
  background-color: var(--background-primary);
}

.btn-container input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
  appearance: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  outline: none;
  background-color: var(--main-background);


}

.btn-container .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: transparent;
  transition: all 175ms ease-in-out;
  pointer-events: none;
  border: 7px solid var(--background-primary);
  border-radius: 50%;
}

.btn-container .circle::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 70%;
  top: -2%;
  left: 0;
  border-radius: 50%;
  transform: rotate(30deg) scale(0);
  transition: all 175ms ease-in-out;
  transition-delay: 50ms;

}

.btn-container input[type="checkbox"]:checked ~ .circle {
  left: 25px;
  border: 0;
  background-color:var(--background-primary);
}

.btn-container input[type="checkbox"]:checked ~ .circle::before {
  background-color: var(--main-background);
  transform: rotate(30deg) scale(1);
}
