<div class="navbar-container">
  <div class="logo-container">
    <h1>My Portfolio</h1>
<img [src]="isLightTheme ? 'assets/img/general/person1.png' : 'assets/img/general/person2.png'" alt="person_image">
  </div>
  <div class="navbar-btns-container">
    <!-- Old version (navigation) -->
    <!-- <button class="btn btn-about" [routerLink]="['about-me']" >About me</button> -->
    <button class="btn btn-about" (click)="scrollTo('about-me')" >About me</button>
    <button class="btn btn-skills" (click)="scrollTo('skills')">Skills</button>
    <button class="btn btn-projects" (click)="scrollTo('projects')">Projects</button>
    <button class="btn btn-education"(click)="scrollTo('education')">Education</button>
  </div>
  <app-btn-theme class="btn-theme"></app-btn-theme>
</div>
