<div class="footer-container">
  <h4>Developed by Rodrigo</h4>
  <div class="container-logos">
    <a href="https://www.instagram.com/rodrigommendonca_" target="_blank"> <img src="assets/img/footer/instagram.png" alt="instagram_image"></a>
    <a href="https://twitter.com/R0drigoMendonc4" target="_blank"><img src="assets/img/footer/twitter.png" alt="twitter_image"></a>
    <a href="https://www.linkedin.com/in/rodrigo-monteiro-900680195/" target="_blank"><img src="assets/img/footer/link.png" alt="link_image"></a>
    <a href="https://github.com/RodrigoMonteiro/" target="_blank"><img src="assets/img/footer/github.png" alt="github_image"></a>
  </div>
</div>
